---
to: src/components/<%= module!=='root'?`${module}/`:'' %><%= h.changeCase.param(name) %>/<%= h.changeCase.param(name) %>.component.tsx
unless_exists: true
---
import React from 'react';
<% if (observer) { -%>
import { observer } from 'mobx-react';
<% } -%>

import './<%= h.changeCase.param(name) %>.component.scss';

const <%= h.changeCase.pascal(name) %>: React.ComponentType<any> = (props) => {
    return (
        <span><%= h.changeCase.pascal(name) %> works!</span>
    );
}

export default <% if(observer) { -%>
observer(<%= h.changeCase.pascal(name) %>);
<% } else { -%>
<%= h.changeCase.pascal(name) %>;
<% } -%>
